::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.Main {
    text-align:center;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.DivMainRight{
    height:100%;
    background-color: #E0E7ED;
}
.YourPosts{
    width: 70%;
    position: absolute;
    margin-top: 24px;
    min-height: 470px;
    height: 100%;
    overflow-y: scroll;
    overflow:no-display;
}
.Post {
    width: 98%;
    margin: 2% 12.5% 2% 1%;
    min-height: 150px;
    background-color: whitesmoke;
    overflow: hidden;
    box-shadow: 5px 5px 13px 0px;
}
.PostHeader{
    margin-left:10px;
    height: 62px;
    width: 100%;
    border-bottom: solid 2px #80008c;
}

.PostProfileName {
    margin: 10px 0 0 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #8f928e;
    float: left;
}
.UploadedPhoto {
    width: 99%;
    margin-bottom: 8px;
    margin-top: 8px;
}
.PostMainImage{
    width: 34%;
    float: left;
    margin: 10px;
}
.PostText{
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
    color: #8f928e;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18px;
}
.TextContainer{
    margin-top: 10px;
    width: 63%;
    float: right;
}
.PersonalInfo {
    top: 175px;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    width: 19%;
    left: 2.5%;
    min-height: 450px;
    text-align: left;
    padding-left: 2%;
}
.PostContent{
    height:247px;
}
.PostTitle{
    font-size:22px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-align: left;
    color: #4b4e4a;
}
.ReadMore{
    float: left;
}
.Posts{
    height:100%;
    position: absolute;
    margin-top:5px;
    min-height: 470px;
    overflow-y: scroll;
    overflow:no-display;
}
.CommentContainer{
    width: 98%;
    height: 600px;
    background-color: white;
    display: inline-block;
    overflow-y: scroll;
    margin-bottom: 160px;
}
.Comment{
    display: inline-block;
    width: 92%;
    margin-top: 25px;
    min-height: 84px;
    background-color: #dddbdb;
}
.CommentImage{
    float: left;
    margin:10px;
    width:105px;
}
.TextArea{
    width: 80%;
    background-color: #dddbdb;
    display: inline-block;
    margin-top: 15px;
}
.CommentName{
    text-align: left;
    font-size: 22px;
    color: #b2b5b8;
}
.CommentContent{
    text-align: left;
    font-size: 17px;
    color: #626262;
}
#MakePost{
    width: 98%;
}
.ButtonComment{
    float: left;
    margin-left:1%;
}
#commentHead{
    margin-left:1%;
}